.selection_box{
    display: flex; 
    justify-content: space-around;
    margin-left: 18%;
    margin-right:18%;
}

.selection_items button{
    background-color: #3A5295; 
    color: #FFFFFF;
    font-weight: 600; 
    width: 200px; 
    height: 48px;
    border-radius: 12px;
    border: none; 
    font-size: 20px;
    margin-bottom: 120px;
}
.selection_info{
    margin-bottom: 40px;
    display: flex; 
    flex-wrap: wrap;
    width: 440px;
}

.selection_info p{
    font-size: 20px; 
}
.selection_info h4{
    font-size: 28px;
    position: relative; 
    right: 55px
}
.selection_items img{
    position: relative; 
    right: 70px;
    top: 10px
}

@media screen and (max-width: 768px) {
    #person{
        display: none;
    }
}