.contacts_container{
    display: flex; 
    justify-content: space-around;
    background-color: #00A2E1; 
    color: #FFFFFF; 
    padding-top: 80px; 
    padding-bottom: 80px;

}

.email_container{
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap;
    width: 440px;

}

.email_container input {
    border-radius: 12px; 
    border: 1px solid #CED3D8;
    height: 48px;
    padding-left:20px;
    padding-top: 13px; 
    padding-bottom: 13px;
}

.social_container{
    display: flex; 
    flex-direction: column;
    font-size: 20px;
    flex-wrap: wrap;
}

.social_icons{
    display: flex; 
    align-items: baseline;
}
.social_icons p{
    margin-left: 18px;
}