.exclusive_container{
    margin-top: 40px; 
    margin-bottom: 120px;
    padding-bottom: 0px; 
    display: flex; 
    justify-content: center; 
}

.exclusive_box{
    background-color: #F6FAFD; 
    border-radius: 24px; 
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    flex-direction: column; 
    padding-top: 80px;
    padding-right: 20px; 
    padding-left: 60px;
}
.exclusive_box h3{
    font-size: 36px;
}
.feature-container{
    display: flex; 
    flex-wrap: wrap; 
    justify-content:center;
    align-items: baseline;
    margin-bottom: 80px;
    margin-top: 40px; 
}

.feature_item{
   display:flex; 
   flex-direction: column;
   width: 360px;
   margin-right: 40px;
   align-items: center; 
   text-align: center;
}
.feature_item h4{
    font-size: 28px;
    font-weight: 500;
}
.feature_item p{
    font-size: 20px;
    font-weight: 400;

}